body {
  background: #000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'digital';
  src: local('digital'), url(./fonts/digital-7.ttf) format('truetype');
}

@font-face {
  font-family: 'squreSans';
  src: local('squreSans'),
    url(./fonts/square_sans_serif_7.ttf) format('truetype');
}

@font-face {
  font-family: 'Assasin';
  src: local('Assasin'),
    url(./fonts/AndroidAssassin-grz1.ttf) format('truetype');
}
